<div class="justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
  <dt class="text-xs/6 font-semibold text-gray-500 uppercase tracking-wide mb-2">
    <%= @title %>
  </dt>
  <div class="flex items-center gap-x-4">
    <dd class="flex-none text-xl/3 font-medium tracking-tight text-gray-900">
      <%= @data %>
    </dd>
    <% if @change.nonzero? %>
      <dd class="text-xs font-medium text-gray-700">
        <div class="flex gap-x-1">
          <% if @change.positive? %>
            <%= heroicon "arrow-up-right", options: { class: "h-4 w-4 text-green-600" } %>
          <% else %>
            <%= heroicon "arrow-down-right", options: { class: "h-4 w-4 text-red-600" } %>
          <% end %>
          <%= @change %>
        </div>
      </dd>
    <% end %>
  </div>
</div>
