<div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
  <div class="mb-8">
    <div class="flex justify-between items-center">
      <h3 class="text-base font-semibold text-gray-900">App Data</h3>

      <div class="flex items-center gap-x-4">
        <%= render AhoyPanel::DateArrowNavigatorComponent.new(date: @selected_date) %>
        <%= render AhoyPanel::DropdownComponent.new(item_groups: @dropdown_item_groups, date: @selected_date) %>
      </div>
    </div>
    <div class="overflow-hidden rounded-lg bg-white shadow mt-5">
      <div class="px-4">
        <dl class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-6">
          <%= render AhoyPanel::StatBoxComponent.new(**@unique_visitors_data.to_params) %>
          <%= render AhoyPanel::StatBoxComponent.new(**@total_visits_data.to_params) %>
          <%= render AhoyPanel::StatBoxComponent.new(**@total_pageviews_data.to_params) %>
          <%= render AhoyPanel::StatBoxComponent.new(title: "View Per Visit", data: 0, change: -1.39) %>
          <%= render AhoyPanel::StatBoxComponent.new(title: "Bounce Rate", data: 0, change: -1.39) %>
          <%= render AhoyPanel::StatBoxComponent.new(title: "Visit Duration", data: 0, change: -1.39) %>
        </dl>

        <!-- Content goes here -->
        <%= line_chart @visits.group_by_day(:started_at).count %>
      </div>
    </div>
  </div>

  <div class="mb-8 grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <p class="font-semibold text-gray-900 mb-5">Top Sources</p>

        <%= bar_chart @visits.group(:referring_domain).count.sort_by { |_, count| -count }.first(10).to_h, colors: ["#0284c7", "#4c7"] %>

        <div class="flex justify-center mt-6">
          <%= link_to "Details >", "", class: "link tracking-wide text-sm text-gray-600 font-semibold uppercase" %>
        </div>
      </div>
    </div>

    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <p class="font-semibold text-gray-900 mb-5">Top Pages</p>

        <%= bar_chart @visits.group(:landing_page).count.sort_by { |_, count| -count }.first(10).to_h %>

        <div class="flex justify-center mt-6">
          <%= link_to "Details >", "", class: "link tracking-wide text-sm text-gray-600 font-semibold uppercase" %>
        </div>
      </div>
    </div>

    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <p class="font-semibold text-gray-900 mb-5">Countries</p>

        <%= bar_chart @visits.where.not(country: nil).group(:country).count.sort_by { |_, count| -count }.first(10).to_h %>

        <div class="flex justify-center mt-6">
          <%= link_to "Details >", "", class: "link tracking-wide text-sm text-gray-600 font-semibold uppercase" %>
        </div>
      </div>
    </div>

    <div class="overflow-hidden rounded-lg bg-white shadow">
      <div class="px-4 py-5 sm:p-6">
        <p class="font-semibold text-gray-900 mb-5">Browsers</p>

        <%= bar_chart @visits.where.not(browser: nil).group(:browser).count.sort_by { |_, count| -count }.first(10).to_h %>

        <div class="flex justify-center mt-6">
          <%= link_to "Details >", "", class: "link tracking-wide text-sm text-gray-600 font-semibold uppercase" %>
        </div>
      </div>
    </div>
  </div>
</div>
