<!DOCTYPE html>
<html>
<head>
  <title>Ahoy panel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "ahoy_panel/application", media: "all" %>

  <script src="https://cdn.tailwindcss.com/3.4.16?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body>

<%= yield %>

</body>
</html>
