<!DOCTYPE html>
<html>
<head>
  <title>Ahoy panel</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <script src="https://cdn.tailwindcss.com/3.4.16?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
  <%= stylesheet_link_tag    "ahoy_panel/application", media: "all" %>

  <%= javascript_importmap_tags "ahoy_panel/application" %>
</head>
<body>
  <%= render "layouts/ahoy_panel/header" %>
  <%= yield %>

</body>
</html>
